extends ../base.pug

block content
  h3 Customers

    a(href="/customers/add", class='btn btn-success btn-sm')
    i.glyphicon.glyphicon-plus
    span  Add customer

  each customer in customers
    .media
      a(href=`/customers/${customer.id}`)
        .media-body
          h4= customer.FirstName
          p= customer.LastName

  if !customers.length
    p No books found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More