extends ../base.pug

block content
  h3 Customers

  each customer in customers
    .media
      a(href=`/customer/${customer.id}`)
        .media-body
          p= customer.firstname
          p= customer.lastname

  if !customer.length
    p No customers found.

  if nextPageToken
    nav
      ul.pager
        li
          a(href=`?pageToken=${encodeURIComponent(nextPageToken)}`) More